<h2>Viewing Party Details</h2>

<div id='form-group'>
<%= form_with model: @party, url: parties_path, local: true do |f| %>
  <%= f.label :movie_title, 'Movie Title' %><br>
  <%= f.text_field :movie_title, value: @movie.title %><br>
</div>
  <%= f.label :duration, 'Duration of Party (minutes)' %><br>
  <%= f.number_field :duration, value: @movie.runtime, min: @movie.runtime, required: true %><br>

  <%= f.label :day, 'Day' %><br>
  <%= f.date_field :day, required: true %><br>

  <%= f.label :start_time, 'Start Time' %><br>
  <%= f.time_field :start_time, required: true %><br>

  <% if current_user.friends.empty? %>
    <p>You have not added friends to your account yet.</p>
  <% else %>
    <h4>Include:</h4>
    <% current_user.friends.each do |friend| %>
    <div id="friend-<%= friend.id %>">
      <%= f.label "#{friend.username}" %>
      <%= f.check_box "attendees[#{friend.id}]" %>
    </div>
    <% end %>
  <% end %>
  <%= f.submit 'Create Party' %>
<% end %>
