<h2>Viewing Party Details</h2>

<div id='form-group'>
<%= bootstrap_form_with model: @party, url: parties_path, local: true do |f| %>
  <%= f.text_field :movie_title, label: 'Movie Title', value: @movie.title %><br>
</div>
<div id='form-group'>
  <%= f.number_field :duration, label: 'Duration of Party (minutes)', value: @movie.runtime, min: @movie.runtime, required: true %><br>
</div>
<div id='form-group'>
  <%= f.date_field :day, label: 'Day', required: true %><br>
</div>
<div id='form-group'>
  <%= f.time_field :start_time, label: 'Start Time', required: true %><br>
</div>
<div id='form-group'>
  <% if current_user.friends.empty? %>
    <p>You have not added friends to your account yet.</p>
  <% else %>
    <h4>Include:</h4>
    <% current_user.friends.each do |friend| %>
    <div id="friend-<%= friend.id %>">
      <%= f.check_box "attendees[#{friend.id}]", label: "#{friend.username}" %>
    </div>
    <% end %>
  <% end %>
  </div>
  <%= f.submit 'Create Party' %>
<% end %>
