<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Welcome to Viewing Party!</h1>
      <p class="lead text-muted">Please register in order to enjoy this app.</p>
      <form>
        <%= form_with model: @user, url: registration_path, local: true do |form| %>
        <div class="form-group">
          <%= form.label :username, 'Username' %>
          <%= form.text_field :username, class: 'form-control', placeholder: 'Enter username' %>
        </div>
        <div class="form-group">
          <%= form.label :email, 'Email Address' %>
          <%= form.text_field :email, class: 'form-control', placeholder: 'Enter email' %>
        </div>
        <div class="form-group">
          <%= form.label :password, 'Password' %>
          <%= form.text_field :password, class: 'form-control', placeholder: 'Enter password (must be at least 6 characters)' %>
        </div>
        <div class="form-group">
          <%= form.label :password_confirmation, 'Password Confirmation' %>
          <%= form.text_field :password_confirmation, class: 'form-control', placeholder: 'Re-enter password' %>
        </div>
        <a href="#" class="btn btn-light">
          <%= form.submit 'Register' %>
        </a>
        <% end %>
    </form>
  </div>
  </div>
</section>
